<table class='hidden-forms'>
  <tr>
    <td></td>
    <td class='thead total'><%= t :total_assignments %> /<br><%= t :availability %></td>
    <% @projects.each do |project| %>
      <td class='thead project editable'>
        <%= render :partial => 'cell_project', :locals => {:project => project} %>
      </td>
    <% end %>
    <td class='thead add addproject editable'>
      <%= render :partial => 'cell_project', :locals => {:project => @new_project} %>
    </td>
  </tr>
  <tr>
    <td class='thead total'><%= t :total_assignments %> /<br><%= t :workload %></td>
    <td></td>
    <% @projects.each do |project| %>
      <%= content_tag :td, :class => "total project_total project_#{project.id} value editable" do %>
        <%= render :partial => 'cell_workload', :locals => {:project => project} %>
      <% end # td %>
    <% end # each project %>
    <td class='add total'></td>
  </tr>
  <% @workers.each do |worker| %>
    <%= content_tag :tr, :class => "worker_#{worker.id}" do %>
      <td class='thead worker editable'>
        <%= render :partial => 'cell_worker', :locals => {:worker => worker} %>
      </td>
      <td class='total worker_total value editable'>
        <%= render :partial => 'cell_availability', :locals => {:worker => worker} %>
      </td>
      <% @projects.each do |project| %>
        <%= content_tag :td, :class => "value editable project_#{project.id}" do %>
          <%= render :partial => 'cell_assignment', :locals => {:worker => worker, :project => project} %>
        <% end # td %>
      <% end %>
      <td class='add empty'></td>
    <% end # tr %>
  <% end # each worker %>
  <tr>
    <td class="add thead addworker editable">
      <%= render :partial => 'cell_worker', :locals => {:worker => @new_worker} %>
    </td>
    <td class="add total"></td>
    <% @projects.each do |project| %>
      <td class="add empty"></td>
    <% end %>
    <td class="add"></td>
  </tr>
</table>

