<table>
  <tr>
    <td></td>
    <% @projects.each do |project| %>
      <td><%= project.name %></td>
    <% end %>
    <td>Total Assignments / Availability</td>
  </tr>
  <% @workers.each do |worker| %>
    <tr>
      <td><%= worker.name %></td>
      <% @projects.each do |project| %>
        <td>
          <%= content_tag :span, 
                          @assignment_days[worker][project], 
                          :id => "w#{worker.id}_p#{project.id}_label", 
                          :class => "assignment_label" %>
          <%= content_tag :span, 
                          render("assignments/form_days_only", :assignment => @assignments[worker][project]), 
                          :id => "w#{worker.id}_p#{project.id}_form", 
                          :class => "assignment_form" %>
        </td>
      <% end %>
      <td>
        <%= @projects.inject(0){|sum,project| sum + @assignment_days[worker][project]} %>/
        <%= worker.get_available_days @year, @week %>
      </td>
    </tr>
  <% end %>
  <tr>
    <td>Total Assignments / Workload</td>
    <% @projects.each do |project| %>
      <td>
        <%= @workers.inject(0){|sum,worker| sum + @assignment_days[worker][project]} %>/
        <%= project.get_work_days @year, @week %>
      </td>
    <% end %>
    <td></td>
  </tr>
</table>

