<table class='hidden-forms'>
  <tr>
    <td></td>
    <td class='thead total'><%= t :total_assignments %> /<br><%= t :availability %></td>
    <% @projects.each do |project| %>
      <td class='thead project'><%= project.name %></td>
    <% end %>
    <td class='thead add addproject'>+</td>
  </tr>
  <tr>
    <td class='thead total'><%= t :total_assignments %> /<br><%= t :workload %></td>
    <td></td>
    <% @projects.each do |project| %>
      <%= content_tag :td, :class => "total project_total project_#{project.id} value" do %>
        <%= render :partial => 'cell_workload', :locals => {:project => project} %>
      <% end # td %>
    <% end # each project %>
    <td class='add total'></td>
  </tr>
  <% @workers.each do |worker| %>
    <%= content_tag :tr, :class => "worker_#{worker.id}" do %>
      <td class='thead worker'><%= worker.name %></td>
      <td class='total worker_total value'>
        <%= render :partial => 'cell_availability', :locals => {:worker => worker} %>
      </td>
      <% @projects.each do |project| %>
        <%= content_tag :td, :class => "value project_#{project.id}" do %>
          <%= render :partial => 'cell_assignment', :locals => {:worker => worker, :project => project} %>
        <% end # td %>
      <% end %>
      <td class='add value'></td>
    <% end # tr %>
  <% end # each worker %>
  <tr>
    <td class="add thead addworker">+</td>
    <td class="add total"></td>
    <% @projects.each do |project| %>
      <td class="add value"></td>
    <% end %>
    <td class="add"></td>
  </tr>
</table>

