<table>
  <tr>
    <td></td>
    <td></td>
    <% @projects.each do |project| %>
      <td><%= project.name %></td>
    <% end %>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <% @projects.each do |project| %>
      <td><%= project.get_work_days @year, @week %></td>
    <% end %>
  </tr>
  <% @workers.each do |worker| %>
    <tr>
      <td><%= worker.name %></td>
      <td><%= worker.get_available_days @year, @week %></td>
      <% @projects.each do |project| %>
        <td><%= @assignments[worker][project] %></td>
      <% end %>
    </tr>
  <% end %>
</table>

